/*
  Document
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

input,
select,
button {
    font-family: "Poppins", sans-serif !important;
}

.lp-form {
    & > div {
        & ~ div {
            margin-top: 20px;
        }
        & ~ .bb-form-btn-d {
            display: flex;
            justify-content: center;
        }
        &.is-hidden {
            display: none;
        }
    }
    &-label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 0.875rem;
        color: #6c7293;
        font-weight: 700;
    }
    &-control {
        display: block;
        width: 100%;
        padding: 10px;
        outline: none;
        font: 0.875rem/1.5 sans-serif;
        color: #333;
        background-color: #fff;
        border: 1px solid #bbb;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .pop-up {
        position: absolute;
        top: 80px;
        left: 0%;
        margin-top: 0;
        display: flex;
        // height: 100%;
        height: 92%;
        width: 100%;
        align-items: center;
        background-color: rgba(250, 250, 250, 0.07);
        z-index: 50;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
        justify-content: center;

        .pop-up-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            width: 76%;
            // padding: 10px;
            box-shadow: 0 0 20px #69666633;
            border-radius: 10px;
            justify-content: center;
            p.auth {
                width: 100%;
                font-size: 20px;
                border-radius: 10px 10px 0 0;
                padding: 10px;
                color: white;
                background: #c0b4da;
            }
            h5 {
                font-size: 16px;
                margin: 10px;
            }
            input#re-by-m {
                width: 90%;
            }
            input.close-button.form-button {
                margin: 15px;
            }
        }
    }
    .pop-up.authorize {
        opacity: 1;
        visibility: visible;
    }
    input {
        font-size: 16px;
        font-weight: 400;
    }
    input#name:valid {
        border: 1px solid rgb(107, 255, 141) !important;
        background-color: rgba(176, 255, 194, 0.553) !important;
    }
    // input#name:invalid {
    //     border: 1px solid rgb(246, 108, 108);
    //     background-color: rgb(255, 176, 176);
    // }
    input#email:focus:valid {
        border: 1px solid rgb(107, 255, 141) !important;
        background-color: rgba(176, 255, 194, 0.553) !important;
    }
    input#email:focus:invalid {
        border: 1px solid rgb(246, 108, 108) !important;
        background-color: rgb(255, 176, 176) !important;
    }
    input#issue-by-m:focus:valid {
        border: 1px solid rgb(107, 255, 141) !important;
        background-color: rgba(176, 255, 194, 0.553) !important;
    }
    input#issue-by-m:focus:invalid {
        border: 1px solid rgb(246, 108, 108) !important;
        background-color: rgb(255, 176, 176) !important;
    }

    input#mobile-num:focus:valid {
        border: 1px solid rgb(107, 255, 141) !important;
        background-color: rgba(176, 255, 194, 0.553) !important;
    }
    input#mobile-num:focus:invalid {
        border: 1px solid rgb(246, 108, 108) !important;
        background-color: rgb(255, 176, 176) !important;
    }
    input#enroll-number:focus:valid {
        border: 1px solid rgb(107, 255, 141) !important;
        background-color: rgba(176, 255, 194, 0.553) !important;
    }
    input#enroll-number:focus:invalid {
        border: 1px solid rgb(246, 108, 108) !important;
        background-color: rgb(255, 176, 176) !important;
    }
    select {
        height: 46px;
    }
}

/*
    Contact Form
  */

.leaving-e-form {
    width: 100%;
    /* max-width: 568px; */
    padding: 10px;
    /* background-color: #fefefe; */
    border-radius: 12px;
    /* box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 13%); */
    box-sizing: border-box;
    #message {
        max-width: 100%;
    }
    &--loading {
        opacity: 0.5;
        pointer-events: none;
    }
    &--errors {
    }
    &--sent {
        & > div ~ div {
            margin: 0;
        }
    }

    div {
        input#enroll-number {
            position: relative;
            z-index: 6;
        }
        .trans-error {
            position: absolute;
            z-index: 2;
            opacity: 0;
            padding: 5px;
            color: #ff000070;
            transform: translateY(-2em);
            transition: all 0.3s ease;
        }

        .trans-error.error-translateY {
            opacity: 1;
            transform: translateY(-0.5em);
        }
    }
}

/*
    Button
  */

.form-button {
    appearance: none;
    padding: 5px 10px;
    font: 0.875rem/1.5 sans-serif;
    background-color: #e7d4f9;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 10px;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
}
.wrapper-f-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 680px) {
    .wrapper-f-div {
        flex-direction: row;
    }
    .wrapper-f-div .wrapper-f-inner-div:last-child {
        width: 60%;
        margin-left: 25px;
    }
    .wrapper-f-div .wrapper-f-inner-div-2:first-child {
        width: 60%;
        margin-right: 25px;
    }
    .wrapper-f-inner-di:last-child {
        margin-left: 25px;
    }
}

@media (max-width: 679.99px) {
    .wrapper-f-div {
        flex-direction: column;

        .wrapper-f-inner-div:last-child {
            margin-top: 20px;
        }
        .wrapper-f-inner-di:last-child {
            margin-top: 20px;
        }
        .wrapper-f-inner-div-2:last-child {
            margin-top: 20px;
        }
    }
}
.wrapper-f-inner-div,
.wrapper-f-inner-di,
.wrapper-f-inner-div-2 {
    width: 100%;
}

.phone-class {
    display: flex;
    flex-direction: row;
    align-items: center;

    & i.fa.fa-phone,
    i.fa-envelope,
    i.fa-person {
        height: 44px;
        display: flex;
        width: 48px;
        margin-left: 1px;
        position: absolute;
        color: #ae95e3;
        border-right: 1px solid #bbb;
        align-items: center;
        border-radius: 3px 0 0 3px;
        background: #f5eaff;
        /* border-right: 0px; */
        justify-content: center;
    }
    & input {
        border-radius: 4px;
        padding-left: 55px;
    }
}

.sidebar.darker ~ .home-section .home-content .col-17 .bg-secondary .leaving-e-form .pop-up .pop-up-content {
    background: #121212;
    p.auth {
        background: #000000;
    }
    input.close-button.form-button {
        background: #82a6f2;
    }
}
@media (min-width: 1352px) {
    .sidebar.active ~ .home-section .home-content .col-17 .bg-secondary .leaving-e-form .pop-up {
        height: 92%;
    }
    .sidebar ~ .home-section .home-content .col-17 .bg-secondary .leaving-e-form .pop-up {
        height: 92%;
    }
}
